<main ng-controller="homeController">
	<div id="position">
		<div class="container">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>About Us</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->

	<div class="container margin_60">
		<div id="tour_guide">
			<p>
				<img src="images/tourist_guide_pic.jpg" alt="Image" class="img-circle styled">
			</p>
		</div>
		<div class="main_title">
			<h2>Who <span>We </span>Are?</h2>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p><span>ADVENTURE HOLIDAYS & TREKS </span>is dedicated to creating personal travel experiences that go beyond the basic sightseeing
					tours. Each itinerary has a special focus and local guides (ethnologists) who know the tribal languages are employed.
					It consists of tourism professionals and experienced guides who know the places very well. Our private luxury tours
					are carefully planned and custom-tailored to meet your needs so your trip is everything you imagined and much more.
					Adventure Holidays and Treks, has head office at Bhubaneswar, Orissa and networking offices in most of the cities of
					India. We make the tours according to the promise to the clients in a very affordable price. Our motto is the " satisfaction
					of the clients" by taking them to the non-touristic tribal villages.
				</p>
				<p>
					Company was founded by Jahir in the year 2005, after working as a Tourist Guide from Indian Tourism Department since 1993. He has a Master Degree in History from Utkal University, Orissa as he is native to this land. 
					He travelled a lot in tribal areas and remote Tribal areas of Arunachal Pradesh, Orissa, Nagaland, Gujarat, Rajasthan, Ladakh, Andaman, Sikkim, Chhattisgarh, Madhya Pradesh, Kerala, Andhra Pradesh, Tamilnadu.
					He also organize different Tribal Festival and Photographic Tours among the tribes of India. He like to help you in the design of itinerary if you like to take his help.
					Being a Tribal Tour Operator and Guide, he studied well the tribal behavior, attitude and language spoken by the people. Since tribal speaks hundred of languages in India, all different from each other, sometimes he takes the help of local people to understand them well.
					That is the reason why he was worked as a guide for the group and FITs of following companies: 
				</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<ul class="list_ok">
					<li>Victor Farmer, Denmark</li>
					<li>Crau Crau Adventure, Switzerland</li>
					<li>Explorator, France</li>
				</ul>
			</div>
			<div class="col-md-6 col-sm-6">
				<ul class="list_ok">
					<li>Nouvelle Frointere, France</li>
					<li>IL Tucano, Italy</li>
					<li>Tirawa, Paris & Lousanne</li>
				</ul>
			</div>
			<div class="col-md-12 col-sm-12">
				<p>
					Jahir is still working for many companies from Overseas and Delhi as a local guide mainly for Orissa and Chhattisgarh and arrange tours for other places of India, Srilanka, Bhutan.
					In France he is a good friend and co-worker for TIRAWA guide Mr. Snafu Wokonwitz who brings tours to India and specially for Orissa Tribes.
					Besides that Jahir has many hundreds of satisfied clients who travelled with him in tribal areas from different parts of the world.
				</p>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-30"></i>
					<h3>
						<span>+ 450</span> Customers</h3>
					<p>Always give people more than what they expect to get. Join us to discover what is there to be explored.</p>
				</div>
			</div>
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-41"></i>
					<h3>
						<span>+120</span> Exiciting Tours</h3>
					<p>Choose from +120 various type of tours and packages, customizable based on your requirements and needs.</p>
				</div>
			</div>
		</div>
		<!-- End row -->
		<div class="row">
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-57"></i>
					<h3>
						<span>H24</span> Support</h3>
					<p>Wherever you are, we're there to help! .Call Worldwide Travel Assistance Services available 24 hours, 7 days
						a week , 365 days a year</p>
				</div>
			</div>
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-61"></i>
					<h3>
						<span>4 Language</span> Support</h3>
					<p>
						Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
						doctus volumus explicari qui ex, appareat similique an usu.
					</p>
				</div>
			</div>
		</div>
		<!-- End row -->
		<div class="row">
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-26"></i>
					<h3>
						<span>Group</span> booking</h3>
					<p>Get existing offers and discounts on group booking.</p>
				</div>
			</div>
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-63"></i>
					<h3>
						<span>Easy</span> booking & cancellation policy</h3>
					<p>To know more, refer to our terms and conditions page.</p>
				</div>
			</div>
		</div>
		<!-- End row -->
		<hr>
		<div class="main_title">
			<h2>What
				<span>customers </span>says</h2>
			<p>"Kind words do not cost much. Yet they accomplish much."</p>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="review_strip">
					<img src="images/avatar1.jpg" alt="Image" class="img-circle">
					<h4>Jhon Doe</h4>
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis
						tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
					</p>
					<div class="rating">
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class=" icon-star-empty"></i>
						<i class=" icon-star-empty"></i>
					</div>
				</div>
				<!-- End review strip -->
			</div>

			<div class="col-md-6">
				<div class="review_strip">
					<img src="images/avatar2.jpg" alt="Image" class="img-circle">
					<h4>Frank Rosso</h4>
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis
						tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
					</p>
					<div class="rating">
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class=" icon-star-empty"></i>
						<i class=" icon-star-empty"></i>
					</div>
				</div>
				<!-- End review strip -->
			</div>
		</div>
		<!-- End row -->
		<div class="row">
			<div class="col-md-6">
				<div class="review_strip">
					<img src="images/avatar3.jpg" alt="Image" class="img-circle">
					<h4>Marc twain</h4>
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis
						tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
					</p>
					<div class="rating">
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class=" icon-star-empty"></i>
						<i class=" icon-star-empty"></i>
					</div>
				</div>
				<!-- End review strip -->
			</div>

			<div class="col-md-6">
				<div class="review_strip">
					<img src="images/avatar1.jpg" alt="Image" class="img-circle">
					<h4>Peter Gabriel</h4>
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis
						tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
					</p>
					<div class="rating">
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class=" icon-star-empty"></i>
						<i class=" icon-star-empty"></i>
					</div>
				</div>
				<!-- End review strip -->
			</div>
		</div>
	</div>
</main>
<style>
[class^="icon_set_1_"]:before, [class*="icon_set_1_"]:before {
    margin-top: .5em;
}
</style>