<main ng-controller="homeController">
	<div id="position">
		<div class="container">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>About Us</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->

	<div class="container margin_60">
		<div id="tour_guide">
			<p>
				<img src="images/tourist_guide_pic.jpg" alt="Image" class="img-circle styled">
			</p>
		</div>
		<div class="main_title">
			<h2>Who <span>We </span>Are?</h2>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<p><span>ADVENTURE HOLIDAYS & TREKS </span>is dedicated to creating personal travel experiences that go beyond the basic sightseeing
					tours. Each itinerary has a special focus and local guides (ethnologists) who know the tribal languages are employed.
					It consists of tourism professionals and experienced guides who know the places very well. Our private luxury tours
					are carefully planned and custom-tailored to meet your needs so your trip is everything you imagined and much more.
					Adventure Holidays and Treks, has head office at Bhubaneswar, Orissa and networking offices in most of the cities of
					India. We make the tours according to the promise to the clients in a very affordable price. Our motto is the " satisfaction
					of the clients" by taking them to the non-touristic tribal villages.</p>
			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-30"></i>
					<h3>
						<span>+ 1000</span> Customers</h3>
					<p>
						Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
						doctus volumus explicari qui ex, appareat similique an usu.
					</p>
				</div>
			</div>
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-41"></i>
					<h3>
						<span>+120</span> Premium city tours</h3>
					<p>
						Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
						doctus volumus explicari qui ex, appareat similique an usu.
					</p>
				</div>
			</div>
		</div>
		<!-- End row -->
		<div class="row">
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-57"></i>
					<h3>
						<span>H24</span> Support</h3>
					<p>
						Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
						doctus volumus explicari qui ex, appareat similique an usu.
					</p>
				</div>
			</div>
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-61"></i>
					<h3>
						<span>10 Languages</span> available</h3>
					<p>
						Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
						doctus volumus explicari qui ex, appareat similique an usu.
					</p>
				</div>
			</div>
		</div>
		<!-- End row -->
		<div class="row">
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-13"></i>
					<h3>
						<span>Accesibility</span> managment</h3>
					<p>
						Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
						doctus volumus explicari qui ex, appareat similique an usu.
					</p>
				</div>
			</div>
			<div class="col-md-6 wow">
				<div class="feature">
					<i class="icon_set_1_icon-22"></i>
					<h3>
						<span>Pet</span> allowed</h3>
					<p>
						Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
						doctus volumus explicari qui ex, appareat similique an usu.
					</p>
				</div>
			</div>
		</div>
		<!-- End row -->
		<hr>
		<div class="main_title">
			<h2>What
				<span>customers </span>says</h2>
			<p>"Kind words do not cost much. Yet they accomplish much."</p>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="review_strip">
					<img src="images/avatar1.jpg" alt="Image" class="img-circle">
					<h4>Jhon Doe</h4>
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis
						tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
					</p>
					<div class="rating">
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class=" icon-star-empty"></i>
						<i class=" icon-star-empty"></i>
					</div>
				</div>
				<!-- End review strip -->
			</div>

			<div class="col-md-6">
				<div class="review_strip">
					<img src="images/avatar2.jpg" alt="Image" class="img-circle">
					<h4>Frank Rosso</h4>
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis
						tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
					</p>
					<div class="rating">
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class=" icon-star-empty"></i>
						<i class=" icon-star-empty"></i>
					</div>
				</div>
				<!-- End review strip -->
			</div>
		</div>
		<!-- End row -->
		<div class="row">
			<div class="col-md-6">
				<div class="review_strip">
					<img src="images/avatar3.jpg" alt="Image" class="img-circle">
					<h4>Marc twain</h4>
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis
						tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
					</p>
					<div class="rating">
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class=" icon-star-empty"></i>
						<i class=" icon-star-empty"></i>
					</div>
				</div>
				<!-- End review strip -->
			</div>

			<div class="col-md-6">
				<div class="review_strip">
					<img src="images/avatar1.jpg" alt="Image" class="img-circle">
					<h4>Peter Gabriel</h4>
					<p>
						"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis
						tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
					</p>
					<div class="rating">
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class="icon-star voted"></i>
						<i class=" icon-star-empty"></i>
						<i class=" icon-star-empty"></i>
					</div>
				</div>
				<!-- End review strip -->
			</div>
		</div>
	</div>
</main>