<main ng-controller="enquiryController">
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
    <!-- End Position -->

    <div class="container margin_60">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="form_title">
                    <h3>
                        <strong>
                            <i class="icon-pencil"></i>
                        </strong>Fill the form below</h3>
                    <p>
                        Mussum ipsum cacilds, vidis litro abertis.
                    </p>
                </div>
                <div class="step">

                    <div id="message-contact"></div>
                    <form id="contactform">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" id="name_contact" name="name_contact" placeholder="Enter Name" data-ng-model="user.firstName">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" id="lastname_contact" name="lastname_contact" placeholder="Enter Last Name" data-ng-model="user.lastName">
                                </div>
                            </div>
                        </div>
                        <!-- End row -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" id="email_contact" name="email_contact" class="form-control" placeholder="Enter Email" data-ng-model="user.email">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" id="phone_contact" name="phone_contact" class="form-control" placeholder="Enter Phone number" data-ng-model="user.phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Message</label>
                                    <textarea rows="5" id="message_contact" name="message_contact" class="form-control" placeholder="Write your message" style="height:200px;" data-ng-model="user.query"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="button" value="Submit" class="btn_1" id="submit-contact" ng-click="submitContactReq();">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- End col-md-8 -->

            <div class="col-md-4 col-sm-4">
                <div class="box_style_1">
                    <span class="tape"></span>
                    <h4>India Address:
                        <span>
                            <i class="icon-pin pull-right"></i>
                        </span>
                    </h4>
                    <p>
                        Plot No, 297, N-5, IRCV, Bhubaneswar. Odisha.INDIA (751015)
                    </p>
                    <ul id="contact-info">
                        <li>+ 91 (94376) 78545 / + 91 (9337) 568711</li>
                        <li style="color:darkturquoise;"><a href="mailto:info@indiatribaltours.com">info@indiatribaltours.com</a></li>
                        <li style="color:darkturquoise;"><a href="mailto:indiatribaltour@gmail.com">indiatribaltour@gmail.com</a></li>
                        <li style="color:darkturquoise;"><a href="mailto:advholiday@yahoo.co.in">advholiday@yahoo.co.in</a></li>
                    </ul>
                    <hr>
                    <h4>France Contact:
                        <span>
                            <i class="icon-pin pull-right"></i>
                        </span>
                    </h4>
                    <p><span style="color:darkgoldenrod;">Snafu Mascolo</span> <br/>Email: <a href="mailto:snafuwowko@gmail.com">snafuwowko@gmail.com</a></p>
                    <p><span style="color:darkgoldenrod;">Jean Mascolo</span> <br/>Email: <a href="mailto:jeannemascolo@gmail.com">jeannemascolo@gmail.com</a></p>
                    <p><span style="color:darkgoldenrod;">Bruno Venin</span> <br/>Email: <a href="mailto:b.venin@yahoo.fr">b.venin@yahoo.fr</a></p>
                </div>
                <div class="box_style_4">
                    <i class="icon_set_1_icon-57"></i>
                    <h4>Need <span>Help?</span>
                    </h4>
                    <a href="tel://004542344599" class="phone">+91 94376 78545</a>
                    <small>Monday to Friday 8.00am - 8.00pm</small>
                </div>
            </div>
        </div>
    </div>
</main>
