<main ng-controller="homeController">
	<div id="position">
		<div class="container">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>FAQ</li>
			</ul>
		</div>
	</div>
	<div class="container margin_60">
		<div class="row">
			<aside class="col-lg-3 col-md-3" id="sidebar">
				<div class="theiaStickySidebar">
					<div class="box_style_cat" id="faq_box">
						<ul id="cat_nav">
							<li>
								<a href="#payment" class="active">
									<i class="icon_set_1_icon-95"></i>Payments</a>
							</li>
							<li>
								<a href="#tips">
									<i class="icon_set_1_icon-95"></i>Liabilities & Limitations</a>
							</li>
							<li>
								<a href="#reccomendations">
									<i class="icon_set_1_icon-95"></i>COVID-19 Travel guideline</a>
							</li>
							<li>
								<a href="#privacy">
									<i class="icon_set_1_icon-95"></i>Privacy</a>
							</li>
						</ul>
					</div>
				</div>
				<!--End sticky -->
			</aside>
			<!--End aside -->
			<div class="col-lg-9 col-md-9" id="faq">
				<h3 class="nomargin_top">Payments</h3>

				<div class="panel-group" id="payment">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#payment" data-target="#collapseOne_payment" href="javascript:void(0)">PAYMENTS:-
									<i class="indicator icon-minus pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseOne_payment" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>For all the services contracted, certain advance payment should be made to hold the booking, on
								confirmed basis & the balance amount can be paid either before your departure from your country or
								upon arrival in INDIA but definitely before the commencement of the services. Management personnel
								hold the right to decide upon the amount to be paid as advance payment, based on the nature of the
								service & the time left for the commencement of the service.</p>
								<p>
									Apart from above in some cases like Special Train Journeys, hotels or resorts bookings during the peak
								season (X-Mas, New Year), full payment is required to be sent in advance.
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#payment" data-target="#collapseTwo_payment" href="javascript:void(0)">MODE OF PAYMENT:-
									<i class="indicator icon-plus pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseTwo_payment" class="panel-collapse collapse">
							<div class="panel-body">
								Overseas advance payment can be made through Wire Transfer to our bank .
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#payment" href="#collapseThree_payment">CANCELLATION POLICY:-
									<i class="indicator icon-plus pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseThree_payment" class="panel-collapse collapse">
							<div class="panel-body">
								<p>In the event of cancellation of tour / travel services due to any avoidable / unavoidable reason/s we must
									be notified of the same in writing. Cancellation charges will be effective from the date we receive advice
									in writing, and cancellation charges would be as follows: -</p>
								<p>25% of the tour package cost per cancelled passenger (30 days prior to arrival)</p>
								<p>50% of the tour package cost per cancelled passenger (29 to 15 days prior to arrival)</p>
								<p>100% of the tour package cost per cancelled passenger (14 Days prior to arrival)</p>
								<p>In case of Special Trains Journeys and peak season hotel bookings a separate cancellation policy is
									applicable (which can be advised as and when required).</p>
								<p>
									In case you cancel the trip after commencement, refund would be restricted to a limited amount only
								which too would depend on the amount that we would be able to recover from the hoteliers/ contractors
								we patronize. For unused hotel accommodation, chartered transportation & missed meals etc. we do not
								bear any responsibility to refund.
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End panel-group -->

				<h3>Liabilities & Limitations</h3>

				<div class="panel-group" id="tips">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#tips" href="#collapseOne_tips">OUR LIABILITIES & LIMITATIONS:-
									<i class="indicator icon-plus pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseOne_tips" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Please note that after the finalization of the Tour/ service Cost, if there are any Hike in entrance fees of
									monuments / museums, Taxes, fuel cost or guide charges - by Govt of India, the same would be charged
									as extra.</p>
								<p>M/s. Adventure Holidays & Treks, act only in the capacity of agent for the hotels, airlines, transporters,
									railways & contractors providing other services & all exchange orders, receipts, contracts & tickets issued
									by us are issued subject to terms & conditions under which these services are provided by them.</p>
								<p>All itineraries are sample itineraries, intended to give you a general idea of the likely trip schedule.
									Numerous factors such as weather, road conditions, the physical ability of the participants etc. may
									dictate itinerary changes either before the tour or while on the trail. We reserve the right to change any
									schedule in the interest of the trip participants' safety, comfort & general well being.</p>
								<p>Our rates are based on the prevailing rates as negotiated by us with the hotels, airlines etc. Hotels and
									Airlines retain the right to modify the rates without notice. In case of such changes the rates quoted
									before the modification, can be changed by us according to the modifications by hotels or airlines. All
									hotel bookings are based on usual check in and check out time of the hotels until unless indicated in the
									itinerary.</p>
								<p>We shall not be responsible for any delays & alterations in the programme or expenses incurred - directly
									or indirectly - due to natural hazards, flight cancellations, accident, breakdown of machinery or
									equipments, breakdown of transport, weather, sickness, landslides, political closures or any untoward
									incidents.</p>
								<p>We shall not be responsible for any loss, injury or damage to person, property, or otherwise in
									connection with any accommodation, transportation or other services, resulting - directly or indirectly -
									from any act of GOD, dangers, fire, accident, breakdown in machinery or equipment, breakdown of
									transport, wars, civil disturbances, strikes, riots, thefts, pilferages, epidemics, medical or custom
									department regulations, defaults, or any other causes beyond our control.</p>
								<p>We do not have any insurance policy covering the expenses for accident, sickness, loss due to theft, or
									any other reasons. Visitors are advised to seek such insurance arrangements in their home country. All
									baggages & personal property/s at all times are at the client's risk.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End panel-group -->

				<h3>COVID-19 Travel guideline</h3>

				<div class="panel-group" id="reccomendations">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#reccomendations" href="#collapseOne_reccomendations">During Travel
									<i class="indicator icon-plus pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseOne_reccomendations" class="panel-collapse collapse">
							<div class="panel-body">
								<p>During the journey, announcements regarding COVID-19 precautionary measures should be made at the airport and on the plane.</p>
								<p>
									The in-flight crew needs to make sure that COVID-19 appropriate behaviour is being followed.
								</p>
								<p>If a passenger displays signs of COVID-19 during the journey, he will be isolated as per the protocols.</p>
								<p>Announcements regarding testing requirements and travellers who need to undergo the exam to avoid crowding at the arrival airport should be made at the airlines.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#reccomendations" href="#collapseTwo_reccomendations">On Arrival
									<i class="indicator icon-plus pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseTwo_reccomendations" class="panel-collapse collapse">
							<div class="panel-body">
								<p>The passengers need to de-board, ensuring physical distancing. At the airport, the health authorities will request to see the self-declaration form and carry out the laid down protocol</p>
								<p>If any passenger shows symptoms during the screening, they will be isolated as per the laid down guidelines. If they tests positive, their contacts shall be identified and managed according to the laid down protocol.</p>
								<p>2% of the passengers will be randomly tested at the arrival airport, after which they will be allowed to leave. The samples will be further sent for genomic testing if they test positive. The COVID-19 treatment for such flyers will be provided according to the latest/ updated standard protocol.</p>
								<p>Exemption has been granted to arriving G20 delegates at Indian Airports from 2% random testing for Covid-19.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#reccomendations" href="#collapseThree_reccomendations">Travel via Seaports
									<i class="indicator icon-plus pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseThree_reccomendations" class="panel-collapse collapse">
							<div class="panel-body">
								<p>International passengers arriving through seaports/ land ports would undergo the same procedure as mentioned above, except the online registration facility is unavailable for such flyers at present.</p>
								<p>These people must submit the self-declaration form to the authorities at the seaports/ land ports on arrival.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End panel-group -->

				<h3>Privacy</h3>

				<div class="panel-group" id="privacy">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#privacy" href="#collapseOne_privacy">Privacy Info
									<i class="indicator icon-plus pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseOne_privacy" class="panel-collapse collapse">
							<div class="panel-body">
								<p>We're committed to providing you with the best information and inspiration to help you travel responsibly. We're also committed to respecting your privacy and looking after your data.
									This privacy policy explains what information we need from you, how and why we use it and the choices you have over the information you give us.</p>
								<p>You don't need to give us any personal information in order to browse Responsible Travel. And we promise we never sell or lease your personal information to anyone else.</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#privacy" href="#collapseTwo_privacy">What information do we have?
									<i class="indicator icon-plus pull-right"></i>
								</a>
							</h4>
						</div>
						<div id="collapseTwo_privacy" class="panel-collapse collapse">
							<div class="panel-body">
								<p>Unless you request a brochure or leave your phone number, the only contact information we keep on our database are names and email addresses. If you decide to make an enquiry, we pass this on to the holiday company who runs the trip you're enquiring about. We might also ask for your phone number as this may help speed up the booking process for you.</p>
								<p>We'll only ask for your postal address if you ask for a brochure or written materials from us. If you do give us your phone number and/or postal address we promise it will be automatically deleted after two months.</p>
								<p>We also remember your previous enquiries and bookings and try to remember your preferences. This means we can recommend more relevant experiences for you next time you choose to use Responsible Travel. Because you don't make any bookings directly with Responsible Travel we don't have access to any of your payment or passport information.</p>
								<p>So to clarify, the only personal contact information we hold about you is your name and email address, plus we remember some details of your past enquiries and bookings. This information is held on a secure server and our firewalls are regularly updated and can only be accessed by Responsible Travel staff or our IT supplier.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- End panel-group -->

			</div>
			<!-- End col lg-9 -->
		</div>
		<!-- End row -->
	</div>
</main>

<!-- Specific scripts -->
<!-- Fixed sidebar -->
<script src="../js/theia-sticky-sidebar.js"></script>
<script>
	jQuery('#sidebar').theiaStickySidebar({
		additionalMarginTop: 80
	});
</script>
<script>
	$('#faq_box a[href^="#"]').click(function () {
		if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
			|| location.hostname == this.hostname) {
			var target = $(this.hash);
			target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
			if (target.length) {
				$('html,body').animate({
					scrollTop: target.offset().top - 115
				}, 800);
				return false;
			}
		}
	});
</script>