<div ng-controller="tourController">
    <div id="position">
        <div class="container">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#/view/grid?state={{stateParam}}">{{util.camelCase(stateParam)}}</a>
                </li>
                <li>Tour Grid View</li>
            </ul>
        </div>
    </div>
    <!-- Position -->

    <div class="container margin_60">
        <div class="row">
            <aside class="col-lg-3 col-md-3">
                <p>
                    <a class="btn_map" href="#/view/map?state={{stateParam}}&marker=all" data-text-original="{{stateParam}} map View">{{stateParam}} map View</a>
                </p>

                <div class="box_style_cat">
                    <ul id="cat_nav">
                        <li>
                            <a href="#/view/grid?state={{stateParam}}">
                                <i class="icon_set_1_icon-51"></i>All tours
                                <span style="color:orange;font-size:1em;">({{itineraryCount.all}})</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/view/grid?state={{stateParam}}&category=adventure">
                                <i class="icon_set_1_icon-3"></i>Adventure tours
                                <span style="color:orange;font-size:1em;">({{itineraryCount.adventure}})</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/view/grid?state={{stateParam}}&category=craft">
                                <i class="icon_set_1_icon-44"></i>Art & Crafts tours
                                <span style="color:orange;font-size:1em;">({{itineraryCount.craft}})</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/view/grid?state={{stateParam}}&category=beach">
                                <i class="icon_set_1_icon-8"></i>Beach tours
                                <span style="color:orange;font-size:1em;">({{itineraryCount.beach}})</span>
                            </a>
                        </li>     
                        <li>
                            <a href="#/view/grid?state={{stateParam}}&category=camping">
                                <i class="icon_set_1_icon-37"></i>Camping tours
                                <span style="color:orange;font-size:1em;">({{itineraryCount.camping}})</span>
                            </a>
                        </li>                                                                 
                        <li>
                            <a href="#/view/grid?state={{stateParam}}&category=city">
                                <i class="icon_set_1_icon-40"></i>City tours
                                <span style="color:orange;font-size:1em;">({{itineraryCount.city}})</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/view/grid?state={{stateParam}}&category=cultural">
                                <i class="icon_set_1_icon-1"></i>Cultural tours
                                <span style="color:orange;font-size:1em;">({{itineraryCount.cultural}})</span>
                            </a>
                        </li> 
                        <li>
                            <a href="#/view/grid?state={{stateParam}}&category=heritage">
                                <i class="icon_set_1_icon-4"></i>Heritage & Monumental
                                <span style="color:orange;font-size:1em;">({{itineraryCount.heritage}})</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/view/grid?state={{stateParam}}&category=temple">
                                <i class="icon_set_1_icon-1"></i>Temple tours
                                <span style="color:orange;font-size:1em;">({{itineraryCount.temple}})</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/view/grid?state={{stateParam}}&category=tribal" id="active">
                                <i class="icon_set_1_icon-30"></i>Village & Tribal tours
                                <span style="color:orange;font-size:1em;">({{itineraryCount.tribal}})</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/view/grid?state={{stateParam}}&category=wildlife">
                                <i class="icon_set_1_icon-30"></i>Wildlife tours
                                <span style="color:orange;font-size:1em;">({{itineraryCount.wildlife}})</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--End filters col-->
                <div class="box_style_2">
                    <i class="icon_set_1_icon-57"></i>
                    <h4>Need
                        <span>Help?</span>
                    </h4>
                    <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                    <small>Monday to Friday 9.00am - 7.30pm</small>
                </div>
            </aside>
            <!--End aside -->

            <div class="col-lg-9 col-md-8">
                <div id="tools">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="styled-select-filters">
                                <select name="sort_price" id="sort_price">
                                    <option value="" selected>Sort by hits</option>
                                    <option value="lower">Lowest hits</option>
                                    <option value="higher">Highest hits</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <div class="styled-select-filters">
                                <select name="sort_rating" id="sort_rating">
                                    <option value="" selected>Sort by views</option>
                                    <option value="lower">Lowest views</option>
                                    <option value="higher">Highest views</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 hidden-xs text-right" ng-if="stateParam != undefined && categoryParam == undefined">
                            <a href="#/view/grid?state={{stateParam}}" class="bt_filters">
                                <i class="icon-th"></i>
                            </a>
                            <a href="#/view/list?state={{stateParam}}" class="bt_filters">
                                <i class=" icon-list"></i>
                            </a>
                        </div>
                        <div class="col-md-6 col-sm-6 hidden-xs text-right" ng-if="stateParam != undefined && categoryParam != undefined">
                            <a href="#/view/grid?state={{stateParam}}&category={{categoryParam}}" class="bt_filters">
                                <i class="icon-th"></i>
                            </a>
                            <a href="#/view/list?state={{stateParam}}&category={{categoryParam}}" class="bt_filters">
                                <i class=" icon-list"></i>
                            </a>
                        </div>                        
                    </div>
                </div>
                <!--End tools -->

                <div class="row" ng-repeat="itineraries in chunkData | limitTo:12">
                    <div class="col-md-6 col-sm-6 wow zoomIn" ng-repeat="itinerary in itineraries">
                        <div class="tour_container">
                            <div class="img_container">
                                <a href="#/review/itinerary?state={{stateParam}}&category={{categoryParam == undefined?itinerary.package_type: categoryParam}}&title={{itinerary.package_code}}&code={{itinerary.code}}">
                                    <img src="{{itinerary.thumbImg}}" width="800" height="533" class="img-responsive" alt="Image">
                                    <div class="short_info">
                                        <i class="icon_set_1_icon-44"></i>{{util.camelCase(stateParam)}} {{itinerary.category}}</span>
                                    </div>
                                </a>
                            </div>
                            <div class="tour_title">
                                <h3><strong>{{itinerary.title}}</strong></h3>
                                <div class="rating">
                                    <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i>
                                    <i class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End GridView -->
            </div>
        </div>
    </div>
</div>