<div class="container margin_60">
    <div class="main_title">
        <h2>Best <span>Tribal</span> Destinations</h2>
        <p>“Never look back unless backwards is your destination.” - David Paul Kirkpatrick</p>
    </div>

    <div class="row">
        <div ng-repeat="itinerary in itineraries | limitTo:12" class="col-md-4 col-sm-6 wow zoomIn">
            <div class="tour_container">
                <div class="img_container">
                    <a href="#/review/itinerary?state={{stateParam}}&category={{categoryParam}}&title={{itinerary.package_code}}&code={{itinerary.code}}">
                        <img src="{{itinerary.thumbImg}}" width="800" height="533" class="img-responsive" alt="{{itinerary.package_code}}" title="{{itinerary.package_code}}">
                        <div class="short_info">
                            <i class="icon_set_1_icon-44"></i>{{util.camelCase(stateParam)}} {{itinerary.category}}
                        </div>
                    </a>
                </div>
                <div class="hotel_title">
                    <h3>{{itinerary.title}}</h3>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center nopadding">
        <a href="#/review/itinerary?state={{stateParam}}&category={{categoryParam}}&title={{itinerary.package_code}}&code={{itinerary.code}}" class="btn_1 medium"><i class="icon-eye-7"></i>View all tours ({{itineraries.length}}) </a>
    </p>
</div>

<!-- popular Tour Section -->
<div class="white_bg">
    <div class="container margin_60">
        <div class="main_title">
            <h2>Other
                <span>Popular</span> tours</h2>
            <p>“Remember that happiness is a way of travel – not a destination.” – Roy M. Goodman</p>
        </div>
        <div class="row add_bottom_45">
            <div class="col-md-4 other_tours">
                <ul>
                    <li>
                        <a href="#/view/list?category=adventure">
                            <i class="icon_set_1_icon-3"></i>Adventure tour
                            <span class="other_tours_price">{{itineraryCount.adventure}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/view/list?category=trekking">
                            <i class="icon_set_1_icon-30"></i>Trekking tour
                            <span class="other_tours_price">{{itineraryCount.trekking}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/view/list?category=artcraft">
                            <i class="icon_set_1_icon-44"></i>Art & Crafts tour
                            <span class="other_tours_price">{{itineraryCount.craft}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/view/list?category=wildlife">
                            <i class="icon_set_1_icon-30"></i>Wildlife tour
                            <span class="other_tours_price">{{itineraryCount.wildlife}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 other_tours">
                <ul>
                    <li>
                        <a href="#/view/list?category=temple">
                            <i class="icon_set_1_icon-1"></i>Temple tours
                            <span class="other_tours_price">{{itineraryCount.temple}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/view/list?category=heritage">
                            <i class="icon_set_1_icon-4"></i>Heritage & Monumental tour
                            <span class="other_tours_price">{{itineraryCount.heritage}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/view/list?category=tribal">
                            <i class="icon_set_1_icon-30"></i>Village & Tribal tour
                            <span class="other_tours_price">{{itineraryCount.tribal}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/view/list?category=festival">
                            <i class="icon_set_1_icon-3"></i>Fairs & Festival tour
                            <span class="other_tours_price">{{itineraryCount.festival}}</span>
                        </a>
                    </li>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 other_tours">
                <ul>
                    <li>
                        <a href="#/view/list?category=camping">
                            <i class="icon_set_1_icon-37"></i>Camping tours
                            <span class="other_tours_price">{{itineraryCount.camping}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/view/list?category=cultural">
                            <i class="icon_set_1_icon-1"></i>Events & Cultural tour
                            <span class="other_tours_price">{{itineraryCount.cultural}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/view/list?category=nightlife">
                            <i class="icon_set_1_icon-50"></i>Shopping and Night-life tour
                            <span class="other_tours_price">{{itineraryCount.nightlife}}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#/view/list?category=city">
                            <i class="icon_set_1_icon-44"></i>City sight-seeing tour
                            <span class="other_tours_price">{{itineraryCount.city}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <p>
                    <a href="#">
                        <img src="images/holiday-planner.jpg" alt="Pic" class="img-responsive">
                    </a>
                </p>
                <h4>
                    <span>Holiday</span> booking</h4>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
                    doctus volumus explicari qui ex.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <p>
                    <a href="#">
                        <img src="images/transport-booking.png" alt="Pic" class="img-responsive">
                    </a>
                </p>
                <h4>
                    <span>Transfer</span> booking</h4>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
                    doctus volumus explicari qui ex.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <p>
                    <a href="#">
                        <img src="images/hotel-booking.jpg" alt="Pic" class="img-responsive">
                    </a>
                </p>
                <h4>
                    <span>Hotel</span> booking</h4>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
                    doctus volumus explicari qui ex.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 text-center">
                <p>
                    <a href="#">
                        <img src="images/customer.png" alt="Pic" class="img-responsive">
                    </a>
                </p>
                <h4>
                    <span>Customer</span> satisfaction</h4>
                <p>
                    Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset,
                    doctus volumus explicari qui ex.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- About Us -->
<div class="container margin_60">
    <div class="main_title">
        <h2>Some
            <span>good</span> reasons</h2>
        <p>“We travel not to escape life, but for life not to escape us.”</p>
    </div>

    <div class="row">
        <div class="col-md-4 wow zoomIn" data-wow-delay="0.1s">
            <div class="feature_home">
                <i class="icon_set_1_icon-41"></i>
                <h3>
                    <span>+120</span> Exiciting Tours</h3>
                <p>Choose from +120 various type of tours and packages, customizable based on your requirements and needs.</p>
                <a href="#/aboutus" class="btn_1 outline">Read more</a>
            </div>
        </div>

        <div class="col-md-4 wow zoomIn" data-wow-delay="0.2s">
            <div class="feature_home">
                <i class="icon_set_1_icon-30"></i>
                <h3>
                    <span>+450</span> Happy Customers</h3>
                <p>Always give people more than what they expect to get. Join us to discover what is there to be explored.</p>
                <a href="#/aboutus" class="btn_1 outline">Read more</a>
            </div>
        </div>

        <div class="col-md-4 wow zoomIn" data-wow-delay="0.3s">
            <div class="feature_home">
                <i class="icon_set_1_icon-57"></i>
                <h3>
                    <span>H24 </span> Support</h3>
                <p>Wherever you are, we're there to help! .Call Worldwide Travel Assistance Services available 24 hours, 7 days
                    a week , 365 days a year</p>
                <a href="#/aboutus" class="btn_1 outline">Read more</a>
            </div>
        </div>

    </div>
</div>
<style>
[class^="icon_set_1_"]:before, [class*="icon_set_1_"]:before {
    margin-top: .5em;
}
</style>