<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <div id="logo_home">
            <h1>
                <a href="/" title="City tours travel template">City Tours travel template</a>
            </h1>
        </div>
    </div>
    <nav class="col-md-9 col-sm-9 col-xs-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);">
            <span>Menu mobile</span>
        </a>
        <div class="main-menu">
            <div id="header_menu">
                <img src="./images/logo_sticky.png" width="160" height="34" alt="India Tribal Tours" data-retina="true">
            </div>
            <a href="#" class="open_close" id="close_in">
                <i class="icon_set_1_icon-77"></i>
            </a>
            <ul>
                <li class="submenu">
                    <a href="/" class="show-submenu">Home
                        <i class="icon-down-open-mini"></i>
                    </a>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" class="show-submenu">About India
                        <i class="icon-down-open-mini"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:void(0);">Festivals of India</a>
                            <ul>
                                <li>
                                    <a href="index.html">Default slider</a>
                                </li>
                                <li>
                                    <a href="index_20.html">Advanced slider</a>
                                </li>
                                <li>
                                    <a href="index_14.html">Youtube Hero</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Vimeo Hero</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">History of India</a>
                            <ul>
                                <li>
                                    <a href="index.html">Taj Mahal</a>
                                </li>
                                <li>
                                    <a href="index_20.html">Amber Fort</a>
                                </li>
                                <li>
                                    <a href="index_14.html">Golden Temple</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Mehrangarh Fort</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Monuments & Heritage</a>
                            <ul>
                                <li>
                                    <a href="index_20.html">Amber Fort</a>
                                </li>
                                <li>
                                    <a href="index_20.html">Agra Fort</a>
                                </li>
                                <li>
                                    <a href="index_20.html">Charminar</a>
                                </li>
                                <li>
                                    <a href="index_14.html">Golden Temple</a>
                                </li>
                                <li>
                                    <a href="index_20.html">Humayun’s Tomb</a>
                                </li>
                                <li>
                                    <a href="index_14.html">Hawa Mahal</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Jama Masjid</a>
                                </li>
                                <li>
                                    <a href="index_14.html">Khajuraho Temples</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Konark Sun Temple</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Mehrangarh Fort</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Mysore Palace</a>
                                </li>
                                <li>
                                    <a href="index.html">Qutab Minar</a>
                                </li>
                                <li>
                                    <a href="index_14.html">Red Fort</a>
                                </li>
                                <li>
                                    <a href="index.html">Taj Mahal</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Spiritual & Holy Destinations</a>
                            <ul>
                                <li>
                                    <a href="index_14.html">Ajmer</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Amarnath</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Bodhgaya</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Jagannath</a>
                                </li>
                                <li>
                                    <a href="index.html">Haridwar</a>
                                </li>
                                <li>
                                    <a href="index.html">Kedarnath</a>
                                </li>
                                <li>
                                    <a href="index_20.html">Rishikesh</a>
                                </li>
                                <li>
                                    <a href="index_14.html">Tirupati Balaji</a>
                                </li>
                                <li>
                                    <a href="index_20.html">Varanasi</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Vaishno devi</a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Tribes of India</a>
                            <ul>
                                <li>
                                    <a href="index_15.html">Chattisgarh tribes</a>
                                    <ul>
                                        <li>
                                            <a href="index_15.html">Gond</a>
                                        </li>
                                        <li>
                                            <a href="index_20.html">Baiga</a>
                                        </li>
                                        <li>
                                            <a href="index_14.html">Muria</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index_15.html">Mizoram tribes</a>
                                    <ul>
                                        <li>
                                            <a href="index_15.html">Garos</a>
                                        </li>
                                        <li>
                                            <a href="index_20.html">Khasis</a>
                                        </li>
                                        <li>
                                            <a href="index_14.html">Jaintias</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index_15.html">Meghalaya tribes</a>
                                    <ul>
                                        <li>
                                            <a href="index_15.html">Garos</a>
                                        </li>
                                        <li>
                                            <a href="index_20.html">Khasis</a>
                                        </li>
                                        <li>
                                            <a href="index_14.html">Jaintias</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index_15.html">Naga tribes</a>
                                    <ul>
                                        <li>
                                            <a href="index_15.html">Angamis</a>
                                        </li>
                                        <li>
                                            <a href="index_15.html">Aas</a>
                                        </li>
                                        <li>
                                            <a href="index_15.html">Konyak</a>
                                        </li>
                                        <li>
                                            <a href="index_15.html">Rengmas</a>
                                        </li>
                                        <li>
                                            <a href="index_15.html">Sema</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha tribes</a>
                                    <ul>
                                        <li>
                                            <a href="index_15.html">Bonda (Odisha)</a>
                                        </li>
                                        <li>
                                            <a href="index_20.html">Gadaba (Odisha)</a>
                                        </li>
                                        <li>
                                            <a href="index_14.html">Juang (Odisha)</a>
                                        </li>
                                        <li>
                                            <a href="index.html">Kondh (Odisha)</a>
                                        </li>
                                        <li>
                                            <a href="index_20.html">Saora (Odisha)</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index_15.html">Jharkhand tribes</a>
                                    <ul>
                                        <li>
                                            <a href="index_15.html">Gond</a>
                                        </li>
                                        <li>
                                            <a href="index_20.html">Munda</a>
                                        </li>
                                        <li>
                                            <a href="index_14.html">Kharia</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Wildlife & Sanctuary</a>
                            <ul>
                                <li>
                                    <a href="index_14.html">Bandhavgarh National Park</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Gir National Park</a>
                                </li>
                                <li>
                                    <a href="index_14.html">Jim Corbett National Park</a>
                                </li>
                                <li>
                                    <a href="index.html">Kanha National Park</a>
                                </li>
                                <li>
                                    <a href="index.html">Kaziranga National Park</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Nanda Devi National Park</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Nagarhole National Park</a>
                                </li>
                                <li>
                                    <a href="index_20.html">Periyar National Park</a>
                                </li>
                                <li>
                                    <a href="index.html">Ranthambore National Park</a>
                                </li>
                                <li>
                                    <a href="index_20.html">Sunderbans National Park</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" class="show-submenu">Tribal Tours
                        <i class="icon-down-open-mini"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index_15.html">Assam tribal tours</a>
                        </li>
                        <li>
                            <a href="index_15.html">Arunachal tribal tours</a>
                        </li>
                        <li>
                            <a href="index_15.html">Chattisgarh tribal tours</a>
                        </li>
                        <li>
                            <a href="index.html">Mizoram tribal tours</a>
                        </li>
                        <li>
                            <a href="index_20.html">Meghalaya tribal tours</a>
                        </li>
                        <li>
                            <a href="index_20.html">Nagaland tribal tours</a>
                        </li>
                        <li>
                            <a href="index_14.html">Odisha tribal tours</a>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" class="show-submenu">Tour Packages
                        <i class="icon-down-open-mini"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index_15.html">Assam tours</a>
                            <ul>
                                <li>
                                    <a href="index_15.html">Assam Wildlife tours</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index_15.html">Bihar tribal tours</a>
                            <ul>
                                <li>
                                    <a href="index_15.html">Jharkhand Tribal tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Chattisgarh Tribal tours</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index_15.html">Madhya Pradesh tours</a>
                            <ul>
                                <li>
                                    <a href="index_15.html">Madhya Pradesh Tribal tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Madhya Pradesh Wildlife tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Madhya Pradesh Textile tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Madhya Pradesh Cultural tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Madhya Pradesh Art & Craft tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Madhya Pradesh Heritage tours</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index_15.html">Odisha tours</a>
                            <ul>
                                <li>
                                    <a href="index_15.html">Odisha Tribal tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha Wildlife tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha Textile tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha Cultural tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha Art & Craft tours</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha Temple tours</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="javascript:void(0);" class="show-submenu">Destinations
                        <i class="icon-down-open-mini"></i>
                    </a>
                    <ul>
                        <li>
                            <a href="index_15.html">North India</a>
                            <ul>
                                <li>
                                    <a href="index_15.html">Fairs & Festival</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha beaches</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Religious places</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha Wildlife</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Art & Culture</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index_15.html">South India</a>
                            <ul>
                                <li>
                                    <a href="index_15.html">Fairs & Festival</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha beaches</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Religious places</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha Wildlife</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Art & Culture</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index_15.html">Central India</a>
                                <ul>
                                    <li>
                                        <a href="index_15.html">Fairs & Festival</a>
                                    </li>
                                    <li>
                                        <a href="index_15.html">Odisha beaches</a>
                                    </li>
                                    <li>
                                        <a href="index_15.html">Religious places</a>
                                    </li>
                                    <li>
                                        <a href="index_15.html">Odisha Wildlife</a>
                                    </li>
                                    <li>
                                        <a href="index_15.html">Art & Culture</a>
                                    </li>
                                </ul>
                            </li>									
                        <li>
                            <a href="index_15.html">East India</a>
                            <ul>
                                <li>
                                    <a href="index_15.html">Fairs & Festival</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha beaches</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Religious places</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha Wildlife</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Art & Culture</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="index_15.html">West India</a>
                            <ul>
                                <li>
                                    <a href="index_15.html">Fairs & Festival</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha beaches</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Religious places</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Odisha Wildlife</a>
                                </li>
                                <li>
                                    <a href="index_15.html">Art & Culture</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#/contactus" class="show-submenu">Contact Us
                        <i class="icon-down-open-mini"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End main-menu -->

        <ul id="top_tools">
            <li>
                <div class="dropdown dropdown-search">
                    <a href="#" class="search-overlay-menu-btn" data-toggle="dropdown">
                        <i class="icon-search"></i>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
</div>