<main ng-controller="homeController">
	<div id="position">
		<div class="container">
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>Gallery</li>
			</ul>
		</div>
	</div>
	<div class="container margin_60">
		<div class="row">
			<div class="col-lg-12 col-md-9" id="faq">
				<h3 class="nomargin_top">Photo Gallery</h3>

				<div class="gallery">
					<div class="gallery__column">
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fclient.jpg?alt=media&token=79ee3b7c-e7a2-438c-9a7e-a7f23d3803fa" alt="Portrait by Jessica Felicio" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
				
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x500%2Fclay-pots.jpg?alt=media&token=3f4cf423-3c17-4436-a9e8-2fa8fe3a1d70" alt="Portrait by Oladimeji Odunsi" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
				
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Ftribe-girl.jpg?alt=media&token=8bde61eb-5dab-4bf0-8990-2b86a391df14" alt="Portrait by Alex Perez" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
					</div>
					
					<div class="gallery__column">
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-tribe-women.jpg?alt=media&token=2648bfd3-d29b-4254-b850-6b0172272843" alt="Portrait by Noah Buscher" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
						
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-tribe.jpg?alt=media&token=559c9026-2b2d-465c-81db-a66ac441ead4" alt="Portrait by Ivana Cajina" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
				
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x500%2Fornaments.jfif?alt=media&token=56a30baf-6b9a-466e-885e-e80ee67946fd" alt="Portrait by Sam Burriss" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
					</div>
					
					<div class="gallery__column">
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x500%2Fcandid.jpg?alt=media&token=0541bf73-b750-425a-88ec-e342b592969a" alt="Portrait by Mari Lezhava" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
						
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-mountain.jpg?alt=media&token=de81b510-4f4a-4417-a4d5-e39b1339b9cd" alt="Portrait by Ethan Haddox" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
				
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-monument.jpg?alt=media&token=79b9d59b-2cdc-45ed-aa7c-47015292ab12" alt="Portrait by Amir Geshani" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
					</div>
					
					<div class="gallery__column">
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-girl-weaving.jpg?alt=media&token=96acddb0-13ba-488b-adee-d34374134a16" alt="Portrait by Guilian Fremaux" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
				
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-festival.jpg?alt=media&token=1915241e-1eb5-4812-8696-cf9ef6756b13" alt="Portrait by Jasmin Chew" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
						
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x500%2Fpaolo.jpg?alt=media&token=e7aa49cb-4c4d-4f64-9fe4-6c56e81aaeff" alt="Portrait by Dima DallAcqua" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
					</div>
				</div>
				<!-- 2ND ROW -->
				<div class="gallery">
					<div class="gallery__column">
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-artist.jpg?alt=media&token=5aa2f325-00eb-4cce-b383-b82c61f9dc2b" alt="Portrait by Jessica Felicio" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
				
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x500%2Fhead-hunters.jpg?alt=media&token=69a5d07f-c247-4aa6-a1c2-6803fa0f4f7a" alt="Portrait by Oladimeji Odunsi" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
				
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Ftribe-girl.jpg?alt=media&token=8bde61eb-5dab-4bf0-8990-2b86a391df14" alt="Portrait by Alex Perez" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
					</div>
					
					<div class="gallery__column">
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-tribe-women.jpg?alt=media&token=2648bfd3-d29b-4254-b850-6b0172272843" alt="Portrait by Noah Buscher" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
						
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-tribe.jpg?alt=media&token=559c9026-2b2d-465c-81db-a66ac441ead4" alt="Portrait by Ivana Cajina" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
				
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x500%2Frabari-tribe.jpg?alt=media&token=1c5004d0-5699-48fa-97d7-141e9967770a" alt="Portrait by Sam Burriss" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
					</div>
					
					<div class="gallery__column">
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x500%2Fcandid.jpg?alt=media&token=0541bf73-b750-425a-88ec-e342b592969a" alt="Portrait by Mari Lezhava" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
						
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-mountain.jpg?alt=media&token=de81b510-4f4a-4417-a4d5-e39b1339b9cd" alt="Portrait by Ethan Haddox" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
				
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-monument.jpg?alt=media&token=79b9d59b-2cdc-45ed-aa7c-47015292ab12" alt="Portrait by Amir Geshani" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
					</div>
					
					<div class="gallery__column">
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-girl-weaving.jpg?alt=media&token=96acddb0-13ba-488b-adee-d34374134a16" alt="Portrait by Guilian Fremaux" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
				
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x300%2Fnaga-festival.jpg?alt=media&token=1915241e-1eb5-4812-8696-cf9ef6756b13" alt="Portrait by Jasmin Chew" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
						
						<a href="javascript:void(0);" target="_self" class="gallery__link">
							<figure class="gallery__thumb">
								<img src="https://firebasestorage.googleapis.com/v0/b/indiatribaltours-db786.appspot.com/o/gallery%2F300x500%2Fpaolo.jpg?alt=media&token=e7aa49cb-4c4d-4f64-9fe4-6c56e81aaeff" alt="Portrait by Dima DallAcqua" class="gallery__image">
								<figcaption class="gallery__caption">Portrait by Jahir</figcaption>
							</figure>
						</a>
					</div>
				</div>
			</div>
			<!-- End col lg-9 -->
		</div>
		<!-- End row -->
	</div>
</main>

<!-- Specific scripts -->
<!-- Fixed sidebar -->
<script src="../js/theia-sticky-sidebar.js"></script>
<script>
	jQuery('#sidebar').theiaStickySidebar({
		additionalMarginTop: 80
	});
</script>
<style>
	.gallery {
	 display: flex;
	 padding: 2px;
	 transition: 0.3s;
}
 .gallery:hover .gallery__image {
	 filter: grayscale(1);
}
 .gallery__column {
	 display: flex;
	 flex-direction: column;
	 width: 25%;
}
 .gallery__link {
	 margin: 2px;
	 overflow: hidden;
}
 .gallery__link:hover .gallery__image {
	 filter: grayscale(0);
}
 .gallery__link:hover .gallery__caption {
	 opacity: 1;
}
 .gallery__thumb {
	 position: relative;
}
 .gallery__image {
	 display: block;
	 width: 100%;
	 transition: 0.3s;
}
 .gallery__image:hover {
	 transform: scale(1.1);
}
 .gallery__caption {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 padding: 25px 15px 15px;
	 width: 100%;
	 font-family: 'Raleway', sans-serif;
	 font-size: 16px;
	 color: white;
	 opacity: 0;
	 background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
	 transition: 0.3s;
}
 
</style>