<div ng-controller="reviewController">
	<div id="position">
		<div class="container">
			<ul>
				<li><a href="/">Home</a>
				</li>
				<li>{{util.camelCase(stateParam)}}</li>
			</ul>
		</div>
	</div>
	<!-- End Position -->
	<div class="container margin_15">
		<div class="row">
			<div class="col-md-12 col-sm-12" id="single_tour_desc">
				<div class="row">
					<div class="col-md-12">
						<h5 style="font-weight:bold;color:black;">{{util.camelCase(stateDetail.code)}} (Region : {{stateDetail.region}})</h5>
						<p ng-repeat="history in stateDetail.history">{{history}}</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="main_title">
				<h2>Tourist <span>attractions</span> in {{util.camelCase(stateDetail.code)}}</h2>
			</div>
			<hr>
			<div class="row magnific-gallery add_bottom_60 ">
				<div class="col-md-3 col-sm-3" ng-repeat="place in stateDetail.attractions">
					<div class="img_wrapper_gallery">
						<div class="img_container_gallery">
							<a href="javascript:void(0);" title="{{place.name}}"><img src="{{place.thumbImg}}" alt="Image" class="img-responsive">
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- <hr> -->
			<!-- End row -->
			<!-- <div class="main_title">
				<h2>Tour <span>packages</span> for {{util.camelCase(stateDetail.code)}}</h2>
			</div>
			<hr>
			<div class="row magnific-gallery add_bottom_60 ">
				<div class="col-md-3 col-sm-3" ng-repeat="place in stateDetail.itineraries">
					<div class="img_wrapper_gallery">
						<div class="img_container_gallery">
							<a href="{{place.thumbImg}}" title="{{place.name}}"><img src="{{place.thumbImg}}" alt="Image" class="img-responsive">
							</a>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
	<div id="overlay"></div>
</div>
<style>
	.gallery {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
		-webkit-column-width: 33%;
		-moz-column-width: 33%;
		column-width: 33%;
	}

	.gallery .pics {
		-webkit-transition: all 350ms ease;
		transition: all 350ms ease;
	}

	.gallery .animation {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	@media (max-width: 450px) {
		.gallery {
			-webkit-column-count: 1;
			-moz-column-count: 1;
			column-count: 1;
			-webkit-column-width: 100%;
			-moz-column-width: 100%;
			column-width: 100%;
		}
	}

	@media (max-width: 400px) {
		.btn.filter {
			padding-left: 1.1rem;
			padding-right: 1.1rem;
		}
	}
</style>